@function toREM($px) {
    @return $px/75*1rem;
}

@mixin borderBox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin sprite {
    background: url(../images/sprites.png) 0 0 no-repeat;
    background-size: 10rem auto;
}
#header{
    height: toREM(88);
    background: transparent;
    .title{
        font-size: toREM(32);
        color: #000;
        text-align: center;
        height: toREM(88);
        line-height: toREM(88);
        a{
            position: absolute;
            top: 0;
            width: toREM(88);
            height: toREM(88);
            i{
                display: block;
                margin-top: toREM(28);
                margin-left: toREM(42);
                @include sprite;
                width: toREM(20);
                height: toREM(33);
                background-position: toREM(-55) toREM(-34);
            }
            &.back{
                left: 0;
            }
            &.reg{
                color: #1448ae;
                width: auto;
                right: 0;
                font-size: toREM(28);
                bottom: 0;
                font-weight: normal;
                padding-right: toREM(39);
            }
           
        }
    }
}
#wrapper{
    #scroller{
        top: toREM(88);
        ::placeholder{
            color: #ccc;
        }
        ul{
            padding: toREM(122) toREM(47);
            .userInput,.pwdInput{
                position: relative;
                color: #666;
                font-size: toREM(28);
                padding-bottom: toREM(22);
                margin-bottom: toREM(29);
                border-bottom: 1px solid #ccc;
                span{
                    display: inline-block;
                    width:toREM(90)
                }
                input{
                    margin-left: toREM(80);
                    font-size: toREM(28);
                }
                a{
                    position: absolute;
                    @include sprite;
                    &.clear{
                        display: none;
                        width: toREM(50);
                        height: 100%;
                        background-position: toREM(-225) toREM(-30);
                        top: 0;
                        right: 0;
                    }
                    &.show{
                        width: toREM(50);
                        height: 100%;
                        background-position: toREM(-280) toREM(-30);
                        top: 0;
                        right: 0;
                    }
                }
            }
            .loginBtn{
                button{
                    margin-top: toREM(34);
                    width: 100%;
                    height: toREM(80);
                    background: #f7c612;
                    font-size: toREM(32);
                    color: #fff;
                    border-radius: 5px;
                }
            }
            .icon{
                margin-top: toREM(473);
                display: flex;
                justify-content: space-around;
                a{
                    width: toREM(70);
                    height: toREM(70);
                    border-radius: 50%;
                    @include sprite;
                    background-position: toREM(-335) toREM(-16);
                    background-color: #5bbe61;
                    &.qq{
                        background-position: toREM(-408) toREM(-17);
                        background-color: #56b1e8;
                    }
                    &.zfb{
                        background-position: toREM(-480) toREM(-17);
                        background-color: #666666;
                    }
                    &.bd{
                        background-position: toREM(-625) toREM(-17);
                        background-color: #5f76d4;
                    }
                }
            }
        }
    }
}
