@function toREM($px){
    @return $px/75*1rem;
}
div{
    height: toREM(100);
    float: left;
}

.div1{
    width: toREM(100);
    background: red;
}
.div2{
    width: toREM(500);
    background: blue;
}
.div3{
    width: toREM(150);
    background: green;
}